<div class="modal-content addSong" modal-transclude="">
        <div class="modal-header ng-scope">
            <h3 class="modal-title">Add a Song</h3>
        </div>
        <div class="modal-body ng-scope">
          
          <form ng-submit="addSong()">
            <input ng-blur="getVidSrc(url)" ng-model="url" placeholder="Enter Youtube URL..."><br>
            <textarea ng-model="comment" ng-maxlength="140" placeholder="Comment..."></textarea>
          </form>
          <div class="preview">
            <p>Preview</p>
            <div class="videoWrapper">
              <iframe class="youtube-player" type="text/html" ng-src="{{ vidSrc }}" allowfullscreen frameborder="0"> </iframe>
            </div>
          </div>

        </div>
        <div class="modal-footer ng-scope">
    <button class="btn btn-primary" ng-click="ok()">Add Song</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>