<!-- <h2>Select a Room</h2>

<form ng-submit='createRoom()'>
  <input ng-model='roomName'><br>
  <input ng-model='roomPic'><br>
  <button>Create Room</button>
</form>
<hr> -->

<!-- <button>Create a Room</button> -->


<div class='container roomsContainer'>
  <div class='row'>
    <div class='col-md-12 roomsHeader'>
      <h1>Rooms</h1>
      <div class="searchRooms">
        <input ng-model='query' placeholder='Search for a room...'>
        <button>Create a Room</button>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3' ng-repeat='room in rooms | orderBy: "roomName" | filter: query'>
      <div class='oneRoom' style='background-image: url({{room.roomPic}});'>
        <div class="filter">
          <div class="roomInfo">
            <h1>{{ room.roomName }}</h1>
            <ul>
              <li>{{ room.followers }} followers |</li>
              <li>{{ room.songs }} songs</li>
            </ul>
          </div>
        </div>
      </div>       
    </div>
  </div>
</div>