<div class="container">
  <div class="roomHeader row">
    <div class="layer">
      <h1>Hack Reactor Jams</h1>
      <button ng-click="showAddSong = true">Add a Song</button>
    </div>
  </div>
</div>
<div class="container">
  
  <div class="row roomContainer">
    
    <div class="col-md-5 leftPlayer">
      
      <div class="userInfo">
        <div class="userPic">
          <img src="{{ playSong.userPic }}" />
        </div>
        <div class="postedBy">Posted by <span class="userName">{{ playSong.userName }}</span></div>
        <div class="postTime">18 hrs ago</div>
      </div>

      <div class="videoPlayer">
        <div class="videoWrapper">
          <iframe class="youtube-player" type="text/html" width="100%" ng-src="{{ newSrc }}" allowfullscreen frameborder="0"> </iframe>
          <!-- <youtube-video video-id="playSong.sourceID" player-vars="playerVars"></youtube-video> -->
        </div>
        <div class="videoControls">
          <div class="back" ng-click="previousSong()"></div>
          
          <div class="songInfo">
            <h1>{{ playSong.title }}</h1>
            <ul>
              <li class="views">{{ playSong.views | number }} views</li>
              <li class="likes">{{ playSong.likes | number }} likes</li>
            </ul>
          </div>
          <div class="next" ng-click="nextSong()"></div>

        </div>
      </div>
    
    </div>
  
    <div class="col-md-7 songQueue">

      <div class="addSong" ng-show="showAddSong">
        <header>
          <h4>Add a Song</h4>
          <div class='closeAddSong' ng-click="showAddSong = false"></div>
        </header>
        <main>
          <form>
            <input ng-blur="getVidSrc(url)" ng-model="url" placeholder="Enter Youtube URL..."><br>
            <textarea ng-model="comment" ng-maxlength="140" placeholder="Comment..."></textarea>
          </form>
          <div class="preview">
            <p>Preview</p>
            <div class="videoWrapper">
              <iframe class="youtube-player" type="text/html" ng-src="{{ vidSrc }}" allowfullscreen frameborder="0"> </iframe>
            </div>
          </div>
        </main>
        <footer>
          <button ng-click="addSong()">Add</button>
        </footer>
      </div>
    
      <div ng-repeat="song in songs" class="songInQueue">
        <div class="queueUserInfo">
          <div class="userPic">
            <img src="{{ song.userPic }}" />
          </div>
          <div class="songComment">{{ song.comment }}</div>
          <div class="details">
            <div class="userName">{{ song.userName }}</div>
            <div class="postTime">18 hrs ago</div>
          </div>
        </div>
        <div class="queueSongInfo">
          <img src="{{ song.thumb }}" />
          <div class="details">
            <div class="songTitle">{{ song.title }}</div>
            <ul>
              <li class="listens">Views: {{ song.views | number }}</li>
              <li class="likes">Likes: {{ song.likes}}</li>
            </ul>
          </div>
        </div>
      </div>
    

    </div>
</div>


